body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0%;
}
.top-section{
    background-image: url("images/header-bg.png");
    height: 650px;
    background-repeat:no-repeat;
    background-position: left;
    background-size:100%;
}
.h1-heading{
    font-size: 30px;
}
.heading{
    font-size:40px;
    color:chocolate;
}
.top-part{
    width: 35%;
    float: left;
    margin-left: 10%;
}
.left-part{
    padding-top: 170px;
    padding-left: 40px;
    text-align: justify;
}
.top-part img{
    width: 85%;
    padding-top: 40px;
}
.link{
    text-decoration: none;
    background-image: linear-gradient(90deg, brown, orange);
    color: white;
    padding: 10px 30px;
    border-radius: 5px;
    font-weight: bolder;
}
.middle-section{
    background-image: url("images/biography-bg.png");
    height: 700px;
    background-repeat:no-repeat;
    background-position: left;
    background-size:100%;
}
.last-section{
    height: 500px;
    background-image: url("images/latest-work-bg.png");
    background-repeat:no-repeat;
    background-position: left;
    background-size:100%;
}
.work-heading{
    margin-top: 60px;
    text-align: center;
}
.work-part{
    width: 25%;
    float: left;
    margin-left: 5%;
    padding-left: 1%;
}
.work-part img{
    width: 100%;
}
.client-section{
    background-image: url("images/footer-bg.png");
    background-repeat:no-repeat;
    background-position: left;
    background-size:100%;
    height: 500px;
    text-align: center;
}
.remarks{
    text-align: justify;
    margin-left: 30%;
    margin-right: 30%;
}
.client-say{
    font-size: 50px;
}
.client-company{
    font-size: 15px;
}
.last-link{
    text-decoration: none;
    background-image: linear-gradient(90deg, brown, orange);
    color: white;
    padding: 10px 30px;
    border-radius: 5px;
    font-weight: bolder;
    font-size: 25px;
}
footer{
    text-align: center;
    margin-top: 5%;
}